@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~datatables.net-bs4';
@import 'overlay.css';
@import 'spinner.css';
@import "~dropzone/dist/min/dropzone.min.css";
@import "~bootstrap-icons";

body {
    /*background-color: lightgray;*/
}

.btn-login {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: bold;
    font-size: 1.5rem !important;
    padding: 0.5rem 1.5rem;
}
.btn-login:active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500 ;
}

.custom-file-label::after {
    content: "Buscar" !important;
}