{#{% extends 'base.html.twig' %}#}

{% block title %}New Actividades{% endblock %}

{% block body %}
    <h1>Create new Actividades</h1>

    {{ include('actividades/_form.html.twig') }}

    <a href="{{ path('actividades_index') }}">back to list</a>
{% endblock %}
