{% extends 'base.html.twig' %}

{% block title %}New Notas{% endblock %}

{% block body %}
    <h1>Create new Notas</h1>

    {{ include('notas/_form.html.twig') }}

    <a href="{{ path('notas_index') }}">back to list</a>
{% endblock %}
